.containerFilm {
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.contentFilm {
    width: 1200px;
    overflow: hidden;
    margin: 0;
}

.contentShow {
    width: 1200px;
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.film {
    max-width: 190px;
    color: #202020;
}

.show {
    max-width: 190px;
    color: #202020;
}

.show:hover {
    cursor: pointer;
    color: red;
}

.film:hover {
    cursor: pointer;
    color: red;
}

.backFilm {
    background-color: red;
    width: 190px;
    height: 284px;
    box-shadow: 0 0 10px #202020;
}

.backShow {
    background-color: red;
    width: 190px;
    height: 284px;
    box-shadow: 0 0 10px #202020;
}

.backImg {
    height: 100%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    transition: 0.1s linear;
}

.backImg:hover {
    transform: translateY(-5px);
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    transition: 0.1s linear;
}

.img:hover {
    transform: translateY(-15px);
}

.infoShow {
    position: relative;
}

.infoFilm {
    position: relative;
}

.favorite {
    width: 20px;
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    max-width: 150px;
    padding-top: 10px;
    font-size: medium;
}
