.header {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    font-size: 20px;
    display: flex;
    gap: 25px;
}

.movies {
    color: white;
    text-decoration: none;
}

.movies:hover {
    color: red;
}

.tvShows {
    color: white;
    text-decoration: none;
}

.tvShows:hover {
    color: red;
}

.favorites {
    color: white;
    text-decoration: none;
}

.favorites:hover {
    color: red;
}

