.containerFilm {
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.contentFilm {
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

.backImg {
    background-color: red;
    width: 300px;
    height: 450px;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.img{
    width: 300px;
    height: 450px;
    background-size: cover;
    box-shadow: 0 0 10px #202020;
}

.containerInfo {

}

.favorite {
    width: 100px;
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg:hover {
    cursor: pointer;
}

.title {
    color: grey;
    font-size: medium;
    margin-top: 10px;
}

.titleName {
    font-size: large;
    color: #202020;
}

.video {
    width: 100%;
    height: 600px;
    box-shadow: 0 0 20px #202020;
    margin-top: 50px;
}

@media (max-width: 1024px) {
    .containerFilm {
        max-width: 1024px;
    }

    .contentFilm {
        height: 400px;
    }

    .backImg {
        width: 200px;
        height: 300px;
    }

    .img{
        width: 200px;
        height: 300px;
        background-position: center;
    }

    .containerInfo {
        width: 100%;
    }

    .infoFilm {
        width: 100%;
        height: 400px;
    }

    .title {
        font-size: smaller;
    }

    .titleName {
        font-size: medium;
    }

    .video {
        width: 100%;
        height: 400px;
        margin-top: 50px;
    }

}

