.jpeg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.containerTvShows {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.contentTvShows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;
    margin-top: 30px;
    max-width: 1200px;
}

h2 {
    display: flex;
}

.link {
    text-decoration: none;
}

.show {
    max-width: 190px;
    color: #202020;
}

.show:hover {
    cursor: pointer;
    color: red;
}

.backShow {
    background-color: red;
    height: 284px;
    width: 190px;
    box-shadow: 0 0 10px #202020;
}

.backImg {
    height: 100%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    transition: 0.1s linear;
}

.backImg:hover {
    transform: translateY(-5px);
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    transition: 0.1s linear;
}

.img:hover {
    transform: translateY(-15px);
}

.infoShow {
    position: relative;
}

.favorite {
    width: 20px;
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg:hover {
    cursor: pointer;
}

.title {
    width: 150px;
    padding-top: 10px;
    font-size: medium;
}

.date {
    font-size: small;
    color: grey;
}

ul {
    margin-top: 50px;
    max-width: 400px;
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none !important;
}

li a {
    border: 2px solid black;
    border-radius: 2px;
    color: #202020;
    padding: 10px 10px;
}

li a:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.activeLinkPageRed {
    background-color: red;
}

@media (max-width: 1200px) {
    .jpeg {
        background-size: cover;
    }

    h2 {
        padding-top: 30px;
        margin: auto;
    }
}

@media (max-width: 806px) {
    .jpeg {
        background-position: center top;
        background-size: 100%;
    }
}

@media (max-width: 650px) {
    .containerTvShows {
        margin-top: -70px;
    }
}

@media (max-width: 500px) {
    .containerTvShows {
        margin-top: -150px;
    }
}