* {box-sizing: border-box;}

.containerSearch {
}

form {
    /*position: relative;*/
    width: 300px;
    margin: 0 auto;
    height: 50px;
    display: flex;
}
input {
    height: 42px;
    width: 250px;
    /*padding: 0 42px 0 15px;*/
    /*border: none;*/
    /*border-bottom: 2px solid transparent;*/
    /*outline: none;*/
    /*background: transparent;*/
    /*transition: .4s cubic-bezier(0, 0.8, 0, 1);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*z-index: 2;*/
}

/*input:focus {*/
/*    width: 300px;*/
/*    z-index: 1;*/
/*    border-bottom: 5px solid darkred;*/
/*}*/

button {
    background: darkred;
    border: none;
    height: 42px;
    width: 42px;
    /*position: absolute;*/
    top: 0;
    right: 0;
    cursor: pointer;
}
button:before {
    cursor: pointer;
    font-size: 16px;
    color: white;
}

svg {
    padding-top: 5px;
}

