* {box-sizing: border-box;}

.containerSearch {

}

form {
    width: 700px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    height: 42px;
    width: 500px;
    border-radius: 20px;
    padding-left: 10px;
}

button {
    background: #202020;
    /*background: darkred;*/
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    fill: red;
}


