.contentRelated {
    gap: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.contentRelated :global(.swiper-wrapper) {
    padding-top: 20px;
}

.relatedFilm {
    max-width: 220px;
}

.link {
    text-decoration: none;
}

.backImg {
    background-color: red;
    width: 220px;
    height: 320px;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.img{
    width: 220px;
    height: 320px;
    background-size: cover;
    box-shadow: 0 0 10px #202020;
    transition: 0.1s linear;
    background-repeat: no-repeat;
}

.img:hover {
    transform: translateY(-20px);
}

.title {
    padding-top: 10px;
    font-size: medium;
    color: #202020;
}

@media (max-width: 1024px) {
    .containerRelated {
        max-width: 1024px;
    }

    .relatedFilm {
        max-width: 120px;
    }

    .link {
        margin: 0;
    }

    .backImg {
        width: 120px;
        height: 180px;
    }

    .img {
        width: 100%;
        height: 100%;
    }

}