body {
    margin: 0;
    font: 400 16px/1.3 Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper-wrapper {
    margin-bottom: 15px;
}

.swiper-button-prev {
    width: 30px;
    height: 30px;
    left: 10px;
    right: auto;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='red'/></svg>");
    background-repeat: no-repeat;
}

.swiper-button-next  {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    left: auto;
    bottom: 0;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='red'/></svg>");
    background-repeat: no-repeat;
}
