.containerFooter {
    background-color: #202020;
    height: 300px;
    display: flex;
    justify-content: center;
}

.svg {
    width: 5%;
}

.contentFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    width: 80%;
}

.block {
    display: flex;
    flex-direction: column;
    margin: auto;
}